.container-li{
    width: 100%;
    height: 89px;
    border-radius: 8px;
    background-color: #F8F9FA;
    display: flex;
    justify-content: space-between;  
    margin-right: 70px;
}
.container-li-entrada{
    width: 100%;
    height: 89px;
    border-radius: 8px;
    background-color: #F8F9FA;
    display: flex;
    justify-content: space-between;  
    margin-right: 70px;
    border-left: 3px solid green;
}
.container-li-saida{
    width: 100%;
    height: 89px;
    border-radius: 8px;
    background-color: #F8F9FA;
    display: flex;
    justify-content: space-between;  
    margin-right: 70px;
    border-left: 3px solid red;
}

.position-div1-li{
    display: flex;
    flex-direction: column;
}
.position-div2-li{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5rem;
}
.text-description-li{
    font-size: 16px;
    font-weight: 700;
    color: #212529;
    margin-left: 16px;
}
.text-tipyValues-li{
    font-size: 12px;
    font-weight: 400;
    color: #343A40;
    margin-left: 16px;
    
}
.text-value-li{
    font-size: 12px;
    font-weight: 400;
    color: #212529;
}
.button-trash{
    height: 22px;
    width: 22px;
    border: none;
    border-radius: 2.5px;
    margin-right: 20px;
}